/* css reset */
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* fonts */

/* young-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/young-serif-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* young-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Young Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/young-serif-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/outfit-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* colors */
  --color-white: hsl(0, 0%, 100%);
  --color-rose: hsl(330, 100%, 98%);
  --color-brown: hsl(14, 45%, 36%);
  --color-dark-rose: hsl(332, 51%, 32%);
  --color-dark-brown: hsl(24, 5%, 18%);
  --color-brown: hsl(30, 10%, 34%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
}

body {
  background-color: var(--stone-100);
  font-family: Outfit, serif;
  display: grid;
  grid-template-columns: 1fr min(80vh, 1000px) 1fr;
}

h1,
h2,
h3 {
  font-family: "Young Serif", serif;
}
p {
  font-size: 1.5rem;
  color: var(--color-brown);
  line-height: 1.5;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  color: var(--color-brown);
}

.wrapper {
  background-color: var(--color-white);

  margin-top: 160px;
  padding: 60px;
  border-radius: 40px;
}

img {
  border-radius: 40px;
  height: 450px;
}

.preparation {
  background-color: var(--color-rose);
  padding: 40px;
  border-radius: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.bigred {
  font-size: 32px;
  color: var(--color-dark-rose);
  font-weight: 700;
}
